/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* code reset above, my code starts here */

html {
    background: rgba(122, 191, 191, .5)
}
body {
    background: #F2F2F2;
    max-width: 414px;
    margin: 0px auto;
    line-height: normal;
}
h1 {
    font-family: Bebas Neue;
    text-align: center;
    padding: 15px;
    padding-top: 225px;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
}
.menu1 li {
    position: relative;
    left: 65px;
    list-style-type: none;
    display: inline;
    justify-content: space-evenly;
}
.menu1 button {
    position: relative;
    justify-content: space-evenly;
    top: 15px; 
    left: -35px;
}
.menu2 {
    padding: 15px;
}
.menu2 li {
    position: relative;
    left:20px;
    list-style-type: none;
    display: inline;
    text-align: center;
    justify-content: space-evenly;
}
.menu2 button {
    position: relative;
    top: 20px;
    right: 45px;
}
menu button  {
    border: none;
    font-family: Bebas Neue;
    color: #EB5428;

}
#tacos img {
    width: 414px;
    padding-top: 30px;
}
#tacos p{
    font-family: Montserrat;
    font-size: 15px;
    padding: 5px 15px;

}
h2 {
    font-family: Bebas Neue;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding:10px 0px;
    text-align: center;
}
#details dt {
    font-family: Bebas Neue;
    font-weight: bold;
    font-size: 15px;
    float: left;
    clear: left;
    padding: 5px 10px;
}
#details dd {
    font-family: Montserrat;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 5px;
}
#ingredients li {
    font-family: Montserrat;
    list-style-type: square;
    padding: 5px;
    margin-left: 25px;
    font-size: 15px;
}
#directions li {
    font-family: Montserrat;
    list-style-type: decimal;
    padding: 10px 5px;
    margin-left: 25px;
    font-size: 15px;
}
aside {
    background: #7ABFBF;
}
aside img{
    width: 25%;
    float: left;
    padding: 5px;
}
aside h3 a{
    color: black;
    font-family: Bebas Neue;
    font-size: 25px;
    text-decoration: none;
    padding: 25px 0px;

}
aside p {
    font-family: Montserrat;
    font-size: 15px;
    padding-top: 10px;
}
aside dt, dd {
    visibility: hidden;
    font-size: 0%;
}
aside h4 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left:auto;
    right: auto;
    width: 412px;
    padding: 40px 1px;
    background-color: #F2F2F2;
    border-bottom: solid;
    border-color: rgba(0,0,0,.2);
}
nav ul {
    overflow: hidden;
    max-height: 0px;
    transition: max-height .2s ease-out;
    background: rgba(122, 191, 191, .5);
    list-style-type: none;
    text-align: center;

}
nav ul li a{
    color: black;
    font-family: Bebas Neue;
    font-size: 15px;
    padding: 20px 20px;
    text-decoration: none;
    transition: 200ms;
}
nav ul li a:hover {
    color: #7ABFBF;
    opacity: .5;
}
nav ul li img {
    display: none;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    user-select: none;
    height: 100px;
    width: 25vw;
}
nav input {
    display: none;
}
nav label svg {
    position: absolute;
    top: 20px;
    left: 20px;
}
label span {
    position: absolute;
    top: 60px;
    left: 25px;
    font-size: 15px;
    font-family: Bebas Neue;
    color:black;
    text-decoration: none;
}
header input {
    position: absolute;
    top:125px;
    left: 26px;
    border-color: #EB5428;
    text-align: center;
    font-size: 19.5px;
    padding: 10px 65px;
    font-family: Bebas Neue;
}
header button {
    position: absolute;
    top:125px;
    left: 332px;
    background: #EB5428;
    border-color: #EB5428;
}
.icon-tabler-tools-kitchen {
    position: absolute;
    top: 0px;
    left: 80px;
    padding: 10px 100px;
    background: #EB5428;
}
.icon-tabler-user-circle {
    position: absolute;
    top: 10px;
    left: 255px;
    padding: 10px 100px;
}
.signin {
    position: absolute;
    top: 40px;
    right: -5px;
    font-size: 15px;
    font-family: Bebas Neue;
    color:black;
    text-decoration: none;
}
footer {
    font-family: Bebas Neue;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
footer img {
    width: 45%;
    padding-top: 25px;
}
footer p {
    padding-top: 15px;
}
@media screen and (min-width:768px) {
    body {
        max-width: 768px;
    }
    header {
        position: fixed;
        top: 0;
        left:auto;
        right: auto;
        width: 768px;
        padding: 75px 0px;
        background-color: #F2F2F2;
        border-bottom: solid;
        border-color: rgba(0,0,0,.2);
    }
    nav {
        width: 768px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;
        grid-column-start: 1;
        grid-column-end: 3;
        overflow: visible;
        list-style-type: none;
        text-align: center;
    }
    nav ul li a{
        color: #EB5428;
        font-family: Bebas Neue;
        font-size: 15px;
        padding: 20px 20px;
        text-decoration: none;
    }
    nav ul li a:hover {
        color: #7ABFBF;
        opacity: .5;
    }
    nav ul li img {
        display: inline;
        width: 50px
    }
    label {
        display: none;
    }
    header input {
        position: absolute;
        top: 10px;
        left: 300px;
        border-color: #EB5428;
        text-align: center;
        font-size: 19.5px;
        padding: 10px 65px;
        font-family: Bebas Neue;
    }
    header button {
        position: absolute;
        top:10px;
        left: 600px;
        background: #EB5428;
        border-color: #EB5428;
    }
    .icon-tabler-tools-kitchen {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px 10px;
        background: #EB5428;
    }
    .icon-tabler-user-circle {
        position: absolute;
        top: 0px;
        left: 610px;
        padding: 10px 100px;
    }
    .signin {
        position: absolute;
        top: 30px;
        right: -10px;
        font-size: 15px;
        font-family: Bebas Neue;
        color:black;
        text-decoration: none;
    }
    h1 {
        text-align: left;
    }
    .menu1 {

    }

}
@media screen and (min-width:1280px) {

}